[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==21.4.0"
importlib-metadata = "==4.11.3"
iniconfig = "==1.1.1"
pluggy = "==1.0.0"
py = "==1.11.0"
pyparsing = "==3.0.8"
pytest = "==7.1.2"
tomli = "==2.0.1"
typing-extensions = "==4.2.0"
zipp = "==3.8.0"
black = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
